.input {
    height: 46px;
    position: relative;
}

.input * {
    font-family: Roboto, serif;
    font-weight: 400;
}

.input__input {
    font-size: 20px;
    height: 46px;
    border: none;
    width: 100%;
    padding: 0 8px;
    background: transparent;
    outline: none;
}

.input__input:hover + .input__fieldset,
.input__input:focus + .input__fieldset {
    border-color: #257FEA;
}

.input__label {
    font-size: 18px;
    color: #3F72AF;
    line-height: 20px;
    position: absolute;
    left: 11px;
    top: -10px;
    padding: 0 2px;
}

.input__ast {
    color: #EC1D1D;
}

.input__error {
    color: #EC1D1D;
    font-size: 14px;
    line-height: 20px;
    padding-left: 8px;
}

.input__control {
    position: relative;
}

.input__fieldset {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 46px !important;
    border: 2px solid #3F72AF;
    border-radius: 4px;
    min-height: 46px;
    pointer-events: none;
}

.input__legend {
    visibility: hidden;
    height: 5px;
    margin-left: 8px;
    padding-right: 6px;
    font-size: 18px;
}

.input_error .input__fieldset {
    border-color: #EC1D1D !important;
}

.input_error .input__label {
    color: #EC1D1D !important;
}
