.textarea {
    position: relative;
    padding-top: 10px;
}

.textarea__textarea {
    font-family: Roboto, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 46px;
    padding: 0 8px;
    width: calc(100% - 4px);
    outline: none;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    resize: none;
    border: none;
    border-radius: 2px;
    background: transparent;
}

.textarea__fieldset {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #3F72AF;
    border-radius: 4px;
    pointer-events: none;
}
